sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 6
  - 7
before_script:
  - npm prune
  - 'pip install --user cram'
script: npm run $TEST_COMMAND
env:
  - TEST_COMMAND='test'
  - TEST_COMMAND='lint'
  - TEST_COMMAND='test:integration'
